<div class="row">
     <div class="span2">
        <div id="sidebar"></div><!-- sidebar -->
    </div> 
    <div class="span10">
        <div id="content">
            <div class="page-header">
    <h4>关于 WechatRss </h4>

    <hr>
    <p><b>[理念]</b><br>
       #WechatRss#</p>
    
    <hr>
    <p><b>[分享计划]</b><br>
       优势：<br>
       微博：<a target="_blank" href="">腾讯微博</a>&nbsp; <a target="_blank" href="">新浪微博</a><br>
 	   意见反馈QQ群：<br>
 	   联系邮件：
    </p>

    <hr>
    </p>
</div>        </div><!-- content -->
    </div>

</div>
</body>
</html>
